#menu{
    display: inline-block;
    float: left;
    padding-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 20%;
    border-right: rgb(239, 243, 244) solid 1px;
    padding-right: 15px;
    position: fixed;
}

#main{
    display: inline-block;
    margin-left: 23%;
    width: 47%;
    padding-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    
}

#right{
    display: inline-block;
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 25%;
    margin-right: 15px;
    border-left: rgb(239, 243, 244) solid 1px;
    padding-left: 30px;
}

.input{
    background-color: rgba(242, 242, 242, 0.954);
    border-radius: 20px;
    padding: 10px 0px 10px 20px;
   
}

#right input{
    font-size: 15px;
    border: none;
    margin-left: 10px;
    color: rgb(99, 99, 99);
    background-color: rgba(242, 242, 242, 0.954);
}

#tweet{
    background-color: rgb(0, 172, 238);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
    width: 85%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#follow{
    background-color: rgb(0, 0, 0);
    float: right;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14px;
    width: 70px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#follow:hover{
    background-color: rgb(31, 31, 31);
}

.trends {
    background-color: rgba(242, 242, 242, 0.954);
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px 0px 15px 7px;
    line-height: 1.3;
}

#right h3{
    padding: 0px 0px 0px 10px;
}

.trends-item {
    margin-left: 5px;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.show-more{
    color:rgb(0, 172, 238);
}

.blue{
    color:rgb(0, 172, 238);
}

.trends-item:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.trends-item img{
    float: right;
    margin-right: 20px;
    width: 20px;
    border-radius: 30%;
}

.trends-item img:hover{
    background-color: rgb(223, 240, 251);
}

.user {
    display: block;
    border-radius: 30px;
    margin-left: 5px;
    font-size: 16px;
    margin: 50% 0px 10px 0px;
    padding: 10px 3px;
   
}

.user:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.user img{
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.follow{
    background-color: rgba(242, 242, 242, 0.954);
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px 0px 15px 7px;
}
.follower {
    display: block;
    margin-left: 5px;
    font-size: 16px;
    margin: 5px 0px 10px 0px;
    padding: 10px 3px;
   
}

.follower:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}

.follower img{
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}

.gray{
    color: rgb(100, 99, 99);
    font-family: Arial;
    font-size: 13px;
}

.menu-item{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    font-size: 20px;
    padding: 5px 0px 5px 5px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.menu-item a{
    display: block;
    text-decoration: none;
    color:black;
}

.menu-item:hover{
    background-color: rgb(222, 222, 222);
}

.icons{
    height: 28px;
    float: left;
    margin-right: 20px;
}

.logo{
    display: inline-block;
    border-radius: 50%;
    padding: 10px 7px 5px 7px;
    margin-right: 100%;
    margin-bottom: 20px;
}

.logo:hover{
    background-color: rgb(223, 240, 251);
}

.back{
    display: inline-block;
    border-radius: 50%;
    padding: 5px 7px 5px 7px;
    margin-bottom: 20px;
}


.back:hover{
    background-color: rgb(222, 222, 222);
}

#topics{
    font-size: 20px;
    display: inline;
    margin-left: 20px;
}

.topics-list{
    overflow-x: scroll;
    white-space: nowrap;
}

.fixed-title{
    position: fixed;
    width: 47%;
    top: 0;
    padding-top: 10px;
    z-index: 2;
    background-color: white;
    border-bottom: rgb(239, 243, 244) solid 1px;
}

.moving{
    margin-top:17%;
    z-index: 1;
}
#no-int-img{
    margin-left: 20%;
    margin-top:5%;
}

#no-int{
    font-size: 31px;
    width: 57%;
    font-weight: 790;
    margin-left: 20%;
    color: rgb(15, 20, 25);
    line-height: 36px;
}

#no-int-descr{
    margin-left: 20%;
    width: 57%;
    color: rgb(83, 100, 113);
    font-size: 15px;
    margin-top: -3%;
}

.show{
    padding: 14px 0px;
    text-align: center;
    cursor: pointer;
}

.show:hover{
    background-color: rgb(248, 248, 248);
}

.topic-part{
    display: inline-block;
    width: 29%;
    font-size: 15px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.topic-part a{
    display: block;
    color:black;
    text-decoration: none;
}

.topic-part:hover{
    background-color: rgb(222, 222, 222);
}

.view-all{
    padding: 15px 10px;
    cursor: pointer;
    font-size: 15px;

}

.view-all:hover{
    background-color: rgb(248, 248, 248);
}

.category-item{
    display: inline-block;
    background-color:rgb(1, 152, 240);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 32%;
    margin-bottom: 5px;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 40px 0px;
    cursor: pointer;
}

.category-item:hover{
    background-color:rgb(0, 135, 214);
}

#topics-descr{
    padding: 20px 5px;
    color: rgb(95, 95, 95);
    font-size: 15px;
    border-bottom: rgb(239, 243, 244) solid 1px;
}

.title-topics{
    display: inline;
    font-size: 20px;
}

.topics-item{
    display: inline-block;
    border:rgb(200, 200, 200) solid 1px;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 7px;
    cursor: pointer;
}

.topics-item:hover{
    background-color: rgb(223, 240, 251);
}

#more-topics{
    padding: 20px 0px;
    border-bottom: rgb(239, 243, 244) solid 1px;
    cursor: pointer;
}

#more-topics:hover{
    background-color: rgb(248, 248, 248);
}

.blue-img{
    float: right;
    padding: 0px 2px;
    filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
}

.delete{
    width: 20px;
    float: right;
    padding: 0px 2px;
}

.delete:hover{
    background-color: rgb(255, 255, 255);
}